@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: bisque;
}

::-webkit-scrollbar {
    display: none;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

header {
    width: 100%;
}

header #masjid-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header #masjid-header #title {
    display: flex;
    align-items: center;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    width: 50%;
}

header #masjid-header #title img {
    width: 4rem;
    margin-right: 0.5rem;
}

header #masjid-header #jadwal-sholat {
    display: flex;
    flex-direction: column;
    width: 50%;
}

header #masjid-header #jadwal-sholat #jadwal-sholat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-weight: 500;
}

header #masjid-header #jadwal-sholat #jadwal-sholat-hari {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header #masjid-header #jadwal-sholat #jadwal-sholat-hari .waktu-sholat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    padding: 0.3rem 0;
    border-radius: 0.5rem;
    background-color: bisque;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
    -2px -2px 4px rgba(255, 255, 255, 0.8);
    cursor: default;
    transition: all 0.3s ease-in-out;
}

header #masjid-header #jadwal-sholat #jadwal-sholat-hari .waktu-sholat:hover {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3),
    inset -2px -2px 4px rgba(255, 255, 255, 0.8);
}

header #masjid-header #jadwal-sholat #jadwal-sholat-hari .waktu-sholat .nama-sholat {
    font-size: 0.7rem;
}

header #masjid-header #jadwal-sholat #jadwal-sholat-hari .waktu-sholat .jam-sholat {
    font-size: 1rem;
    font-weight: 500;
}

header .navbar {
    background-color: black;
    color: white;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
}

header .navbar .navbar-link{
    color: bisque;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

header .navbar .navbar-link:hover {
    background-color: #444;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#info {
    padding: 2rem 0;
}

#info .info-card{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: bisque;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
}

#info .info-card .info-card-body{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#info .info-card .info-card-body:nth-child(1),
#info .info-card .info-card-body:nth-child(3) {
    background-color: rgba(222, 184, 135, 0.2);
}

#info .info-card .info-card-body img {
    width: 4rem;
}

#info .info-card .info-card-body .info-judul{
    font-weight: 600;
    text-transform: uppercase;
}

#info .info-card .info-card-body .info-isi {
    margin: 0.5rem 0;
}

#info .info-card .info-card-body .info-isi2 {
    margin: 0.5rem 0;
    font-size: 1.7rem;
    font-weight: 700;
}

#info .info-card .info-card-body .info-link {
    background-color: black;
    color: bisque;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

#info .info-card .info-card-body a img {
    width: 2rem;
    transition: all 0.2s ease-in-out;
}

#info .info-card .info-card-body .info-link:hover {
    background-color: #444;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#infaq {
    background-color: black;
    padding: 2rem 0;
    cursor: default;
}

#infaq .infaq-card {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}

#infaq .infaq-card .infaq-card-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#infaq .infaq-card .infaq-card-1 .infaq-judul {
    width: fit-content;
    color: bisque;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid bisque;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

#infaq .infaq-card .infaq-card-1 .infaq-judul:hover {
    background-color: bisque;
    color: black;
}

#infaq .infaq-card .infaq-card-1 .infaq-isi {
    background-color: bisque;
    /* padding: 1rem; */
    border-radius: 0.5rem;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: start;
    padding: 0.8rem 1rem;
    align-items: center;
}

table thead, tfoot {
    background-color: rgba(222, 184, 135, 0.5);
}

#infaq .infaq-card .infaq-card-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#infaq .infaq-card .infaq-card-2 .infaq-judul {
    width: fit-content;
    color: bisque;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid bisque;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

#infaq .infaq-card .infaq-card-2 .infaq-judul:hover {
    background-color: bisque;
    color: black;
}

#infaq .infaq-card .infaq-card-2 .infaq-isi {
    background-color: bisque;
    border-radius: 0.5rem;
    overflow: hidden;
}

#infaq .infaq-card .infaq-card-2 .infaq-isi .saldo {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    background-color: rgba(222, 184, 135, 0.5);
    padding: 0.5rem 1rem;
    /* box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#infaq .infaq-card .infaq-card-2 .infaq-isi .saldo span:nth-child(2) {
    font-weight: 700;
}

#infaq .infaq-card .infaq-card-2 .infaq-isi .transfer {
    font-size: 0.8rem;
    padding: 1rem;
}

#infaq .infaq-card .infaq-card-2 .infaq-isi .rekening {
    padding: 0 1rem;
}

#infaq .infaq-card .infaq-card-2 .infaq-isi .rekening p:last-child {
    margin: 1rem 0;
    font-size: 0.8rem;
}

#infaq .infaq-card .infaq-card-2 .infaq-isi .rekening p:last-child span {
    font-weight: 700;
}

#berita {
    padding: 2rem;
    cursor: default;
}

#berita .berita-header {
    width: fit-content;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 auto 1.5rem;
    cursor: default;
    transition: all 0.2s ease-in-out;
}

#berita .berita-header:hover {
    background-color: black;
    color: bisque;
}

#berita .berita-terbaru {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#berita .berita-terbaru .berita-card {
    background-color: rgba(222, 184, 135, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#berita .berita-terbaru .berita-card .berita-card-cover {
    width: 100%;
    margin: 0 auto;
}

#berita .berita-terbaru .berita-card .berita-card-deskripsi {
    background-color: rgba(222, 184, 135, 0.3);
    padding: 1rem;
}

#berita .berita-terbaru .berita-card .berita-card-deskripsi .berita-card-tanggal {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

#berita .berita-terbaru .berita-card .berita-card-deskripsi .berita-card-tanggal img {
    width: 0.8rem;
    margin-right: 0.2rem;
}

#berita .berita-terbaru .berita-card .berita-card-deskripsi .berita-card-judul {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

#berita .berita-terbaru .berita-card .berita-card-deskripsi .berita-card-penulis {
    display: flex;
    align-items: center;
    font-style: italic;
}

#berita .berita-terbaru .berita-card .berita-card-deskripsi .berita-card-penulis img {
    width: 1rem;
    margin-right: 0.2rem;
}

#agenda-kerja {
    background-color: black;
    padding: 2rem;
}

#agenda-kerja .agenda {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#agenda-kerja .agenda .agenda-card {
    width: 100%;
    height: 300px;
    background-color: bisque;
    border-radius: 0.5rem;
    overflow: scroll;
}

#agenda-kerja .agenda .agenda-card .agenda-card-judul {
    background-color: rgba(222, 184, 135, 0.4);
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
}

#agenda-kerja .agenda .agenda-card .agenda-card-isi {
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#agenda-kerja .agenda .agenda-card .agenda-card-isi .agenda-card-isi-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}